<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{# emergency }}
			{{> molecules-alert:error }}
		{{/ emergency }}

		{{# hero }}
			{{> molecules-block-hero }}
		{{/ hero}}

		<hr />

		<h1>Upcoming Events</h1>
		{{> molecules-block-filter-box }}
		{{> molecules-block-date-list }}
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>