<div class="vcard">
	<div class="org">Company Name</div>
	<div class="adr">
		<div class="street-address">1234 Main St.</div>
		<span class="locality">Anywhere</span>,
		<span class="postal-code">101010</span>,
		<abbr class="region" title="WM">West Midlands</abbr>
		<div class="country-name">UK</div>
	</div>
	<div class="tel">+1.888.123.4567</div>
</div>