	<li class="box postEvent {{category-classes}}">
		<a href="{{event-link}}">
			<span class="theDay">{{day}}</span><br>
			<p class="theTitle">
				<span>{{dayofweek}} @ {{time}}</span><br>
				{{title}}			</p>
		</a>                    
	</li>