<div class="gi">

	<h1>About PGR Studio</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta harum beatae repellendus expedita ducimus tempora explicabo, ab, incidunt tempore quas reprehenderit atque iste quibusdam quisquam. Repellat delectus ullam, eos excepturi!</p>

	{{> molecules-address }}

	{{> atoms-logo }}

</div>

