        <div class="single-event-detail">
            <div class="event-detail">
                <div class="event-speaker">
                    <h4>Speakers</h4>
                    <div class="media professor">
                        <a href="{{url}}">{{> atoms-avatar}}</a>
                        <div class="media-body">
                            <h6><a href="{{url}}">Jacky Michaels</a></h6>
                            <span>Senior Lecturer - Marketing</span>
                        </div>
                    </div>
                    <div class="media professor">
                        <a href="{{url}}">{{> atoms-avatar}}</a>
                        <div class="media-body">
                            <h6><a href="{{url}}">John Doe</a></h6>
                            <span>Professor Of Economics</span>
                        </div>
                    </div>
                </div>
                <!--/event-speaker-->
                <div class="event-info">
                    <div class="gi">
                        <h4>Start</h4>
                        <p>June 16, 2015 - 3:00 pm</p>
                        <h4>End</h4>
                        <p>June 16, 2015 - 8:00 pm</p>
                    </div>
                    <div class="gi">
                        <h4>Address</h4> Bentley Campus, Perth, WA
                        <a href="http://maps.google.com/?q=Bentley Campus, Perth, WA" target="_blank" class="map-link">&nbsp;&nbsp;View map <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!--/event-info-->
            </div>
            <!--/event-detail-->
            <div class="event-content">
                <div>
                    <p>Erisman started working at Alibaba right after the tech bubble burst, and stayed there for more than eight years. He asked for Ma’s blessing before embarking on his journey to make the film, with the stipulation that the film would tell Alibaba’s story totally from his point of view, with no involvement from the company, highlighting not just its successes, but all the mistakes as well.</p>
                    <p>Ma gave him the green-light and over the next three years Erisman traveled around the world tracking down more than 200 hours of footage from 35 different sources and stitching it together. When he eventually showed Ma the finished product, his old boss was hard to read.</p>
                    <p>“I really couldn’t tell what his reaction was,” Erisman said. “I felt like he didn’t love it but that he didn’t hate it. I think that he thought it was fair.” About a year later, Ma called him up and asked if he would be willing to show it at the 10th anniversary of Taobao, Alibaba’s eBay-esque e-commerce site.</p>
                </div>
                <div class="calendar-import">
                    <a class="btn btn-default btn-lighter" href="https://www.google.com/calendar/render?dates=20150616T150000/20150616T200000&amp;action=TEMPLATE&amp;text=Exploring The World&amp;location=Bentley Campus, Perth, WA&amp;details=Business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds.">+ GOOGLE CALENDAR</a>&nbsp;
                    <a href="http://demo.cactusthemes.com/university?ical_id=200" class="btn btn-default btn-lighter">+ ICAL IMPORT</a>
                </div>
                <div class="event-more-detail">
                    <h4>MORE DETAIL</h4>
                    <h6 class="tel">Phone</h6>
                    <p><a href="tel:098-765-4321">098-765-4321</a></p>
                    <h6 class="email">Email</h6>
                    <p><a href="mailto:example@email.com">example@email.com</a></p>
                </div>
            </div>
            <!--/event-content-->
        </div>
        <!--/single-event-detail-->