/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $gray-dark-2;
	color: $white;
	line-height: 1.2;

	a {
		color: $gray-light;
	}
	.gi {
		box-shadow: 1px 0 0 rgba(255,255,255,0.1);
		padding: $pad;
	}
	h1 {
		color: $white;
		clear: both;
		font-size: 1.2em;
		border-bottom: 2px solid $red;
		padding-bottom: $pad;
		margin-bottom: $pad;
	}
	h2 {
		color: $white;
		font-size: 1em;
		font-weight: normal;
		padding-top: 1em;
	}
	p {
		color: $gray;
		font-size: 0.8em;
	}
	.adr {
		color: $white;
		font-size: 0.8em;
		line-height: 1.8;
		padding-top: $pad-double;
	}
	.tel {
		padding-bottom: $pad-double;
	}
	.tag-list {
		padding-bottom: $pad*10;
	}
	.tag-list li {
		background: $gray-dark;
		border: 1px solid $gray;
		color: $gray-light;
		float: left;
		font-size: 0.8em;
		padding: $pad-half;
		padding-left: $pad-half;
		margin: $pad-quarter;
	}


}

//Footer Nav
.nav-footer {
	margin: (-$pad) (-$pad) $space;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}

.copyright {
	@media all and (min-width: $bp-med) {
		float: right;
	}
}