.header {
	background: $white;
	padding: 1em 0;
	border-bottom: 1px solid #dbdbdb;
	@extend .lc;

}

.logo {
	float: left;
	max-width: 8rem;
	margin: 0.4rem;

	@media all and (min-width: $bp-med) {
		max-width: 9rem;
	}
	@media all and (min-width: $bp-small) {
		max-width: 80%;
	}
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	input {
		@include border-radius(20px);
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		margin: 0.65em 1em 0 0;
		padding-left: $pad;
	}
}