<div id="filter" class="blackBar">
<ul>
	<li><a class="active allEvents" href="#">Events</a></li>
	<li class="cat-item cat-item-8">/ &nbsp;&nbsp;&nbsp;<a href="/concerts/">Concerts</a></li>
	<li class="cat-item cat-item-9">/ &nbsp;&nbsp;&nbsp;<a href="/movies/">Movies</a></li>
	<li class="cat-item cat-item-10">/ &nbsp;&nbsp;&nbsp;<a href="/plays/">Plays</a></li>
	<li class="cat-item cat-item-11">/ &nbsp;&nbsp;&nbsp;<a href="/seminars/">Seminars</a>
</li>
</ul>
</div>