<div id="filter" class="filterbar">
<ul>
	<li><a class="active allElements gi" href="#">All</a></li>
	{{# eventfilters}}
		<li class="{{class}} gi">/ &nbsp;&nbsp;&nbsp;<a href="{{url}}">{{name}}</a></li>
	{{/ eventfilters}}
</ul>
</div>