<div id="filter" class="blackbar">
<ul>
	<li><a class="active allEvents gi" href="#">Events</a></li>
	<li class="cat-item cat-item-8 gi">/ &nbsp;&nbsp;&nbsp;<a href="/concerts/">Workshops</a></li>
	<li class="cat-item cat-item-9 gi">/ &nbsp;&nbsp;&nbsp;<a href="/movies/">Conferences</a></li>
	<li class="cat-item cat-item-10 gi">/ &nbsp;&nbsp;&nbsp;<a href="/plays/">Networking</a></li>
	<li class="cat-item cat-item-11 gi">/ &nbsp;&nbsp;&nbsp;<a href="/seminars/">Seminars</a>
</li>
</ul>
</div>