<ul class="date-list">

	<li class="box monthYear" id="Apr15">
		<a class="dateLink" href="#2015/04">
			<span>Apr</span><br>
			2015		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2015/04/lorem-ipsum-dolor-sit-amet-11/">
			<span class="theDay">22</span><br>
			<p class="theTitle">
				<span>Wed @ 1:14 am</span><br>
				Standing on the Shoulders of Giants			</p>
		</a>                    
	</li>
	

	<li class="box monthYear" id="Jun15">
		<a class="dateLink" href="#2015/06">
			<span>Jun</span><br>
			2015		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-11">
		<a href="#2015/06/lorem-ipsum-dolor-sit-amet-12/">
			<span class="theDay">02</span><br>
			<p class="theTitle">
				<span>Tue @ 4:42 am</span><br>
				How To Be Better Than You			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-8 cat-item-7">
		<a href="#2015/06/lorem-ipsum-dolor-sit-amet-3/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Thu @ 7:08 pm</span><br>
				Deadmau5 Destroys Downtown			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-19 cat-item-11">
		<a href="#2015/06/lorem-ipsum-dolor-sit-amet-13/">
			<span class="theDay">30</span><br>
			<p class="theTitle">
				<span>Tue @ 4:43 am</span><br>
				Cyan &amp; Collis Ta’eed Book Signing!			</p>
		</a>                    
	</li>
	

	<li class="box monthYear" id="Aug15">
		<a class="dateLink" href="#2015/08">
			<span>Aug</span><br>
			2015		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-11">
		<a href="#2015/08/lorem-ipsum-dolor-sit-amet-14/">
			<span class="theDay">20</span><br>
			<p class="theTitle">
				<span>Thu @ 4:44 am</span><br>
				Why Do We Tweet?			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-8 cat-item-7">
		<a href="#2015/08/lorem-ipsum-dolor-sit-amet/">
			<span class="theDay">20</span><br>
			<p class="theTitle">
				<span>Thu @ 7:07 pm</span><br>
				Tool Performs at the Showbox			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2015/08/lorem-ipsum-dolor-sit-amet-2/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Tue @ 7:08 pm</span><br>
				Seven Samurai			</p>
		</a>                    
	</li>
	

	<li class="box monthYear" id="Nov15">
		<a class="dateLink" href="#2015/11">
			<span>Nov</span><br>
			2015		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2015/11/lorem-ipsum-dolor-sit-amet-10/">
			<span class="theDay">02</span><br>
			<p class="theTitle">
				<span>Mon @ 1:01 am</span><br>
				The Royal Tenenbaums			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-11">
		<a href="#2015/11/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
			<span class="theDay">09</span><br>
			<p class="theTitle">
				<span>Mon @ 4:45 am</span><br>
				A Brief History of The Record Player			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2015/11/lorem-ipsum-dolor-sit-amet-16/">
			<span class="theDay">13</span><br>
			<p class="theTitle">
				<span>Fri @ 4:47 am</span><br>
				To Be Or Not To Be?			</p>
		</a>                    
	</li>
	

	<li class="box monthYear" id="Mar16">
		<a class="dateLink" href="#2016/03">
			<span>Mar</span><br>
			2016		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-11">
		<a href="#2016/03/lorem-ipsum-dolor-sit-amet-15/">
			<span class="theDay">13</span><br>
			<p class="theTitle">
				<span>Sun @ 4:46 am</span><br>
				Photography 101			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2016/03/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-3/">
			<span class="theDay">16</span><br>
			<p class="theTitle">
				<span>Wed @ 4:48 am</span><br>
				Hamlet in the Park			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2016/03/lorem-ipsum-dolor-sit-amet-4/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Fri @ 7:09 pm</span><br>
				The Book of Mormon on Broadway			</p>
		</a>                    
	</li>
	

	<li class="box monthYear" id="Dec16">
		<a class="dateLink" href="#2016/12">
			<span>Dec</span><br>
			2016		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-19 cat-item-9">
		<a href="#2016/12/lorem-ipsum-dolor-sit-amet-18/">
			<span class="theDay">01</span><br>
			<p class="theTitle">
				<span>Thu @ 4:49 am</span><br>
				Movies in the Park: Dead Winter			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-8 cat-item-7">
		<a href="#2016/12/lorem-ipsum-dolor-sit-amet-7/">
			<span class="theDay">01</span><br>
			<p class="theTitle">
				<span>Thu @ 2:30 pm</span><br>
				Muse Making Music in Montreal			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2016/12/lorem-ipsum-dolor-sit-amet-17/">
			<span class="theDay">08</span><br>
			<p class="theTitle">
				<span>Thu @ 4:48 am</span><br>
				War Games			</p>
		</a>                    
	</li>
	

	<li class="box monthYear" id="Dec17">
		<a class="dateLink" href="#2017/12">
			<span>Dec</span><br>
			2017		</a>
	</li>

	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2017/12/lorem-ipsum-dolor-sit-amet-5/">
			<span class="theDay">20</span><br>
			<p class="theTitle">
				<span>Wed @ 7:10 pm</span><br>
				Life of Pi			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-19 cat-item-10">
		<a href="#2017/12/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Mon @ 12:30 pm</span><br>
				Party Like It’s 2017			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2017/12/lorem-ipsum-dolor-sit-amet-6/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Mon @ 5:00 pm</span><br>
				The Hobbit: An Unexpected Journey			</p>
		</a>                    
	</li>
	
<li class="box" id="theEnd">The End.</li></ul>