<ul class="block date-list">

	{{> atoms-month-year(month-year: "Apr15", month-year-link: "#2015/04", month: "Apr", year: "2015") }}
	
	{{> atoms-day-time(category-classes: "seminar", event-link: "#2015/04", day: "22", dayofweek: "Wed", title: "This is a seminar")}}

	{{> atoms-month-year(month-year:"Jun15", month-year-link:"#2015/06", month:"Jun", year:"2015")}}

	
	{{> atoms-day-time(category-classes: "seminar", event-link: "#2015/06", day: "02", dayofweek: "Tue", title: "This is b seminar")}}

	{{> atoms-day-time(category-classes: "workshop", event-link: "#2015/06", day: "25", dayofweek: "Thu", title: "This is c workshop")}}

	{{> atoms-day-time(category-classes: "conference", event-link: "#2015/06", day: "30", dayofweek: "Tue", time: "4:43 pm" title: "This is d conference")}}

	{{> atoms-month-year(month-year:"Aug15", month-year-link:"#2015/08", month:"Aug", year:"2015")}}

	{{> atoms-day-time(category-classes: "seminar", event-link: "#2015/08", day: "20", dayofweek: "Thu", time: "4:44 pm", title: "Why Do We Tweet?")}}

	{{> atoms-day-time(category-classes: "networking", event-link: "#2015/08", day: "20", dayofweek: "Thu", time: "7:07 pm", title: "Where?")}}

	{{> atoms-day-time(category-classes: "screening", event-link: "#2015/08", day: "25", dayofweek: "Tue", time: "7:08 pm", title: "Seven Samurai")}}

	{{> atoms-month-year(month-year:"Nov15", month-year-link:"#2015/11", month:"Nov", year:"2015")}}

	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2015/11/lorem-ipsum-dolor-sit-amet-10/">
			<span class="theDay">02</span><br>
			<p class="theTitle">
				<span>Mon @ 1:01 am</span><br>
				The Royal Tenenbaums			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-11">
		<a href="#2015/11/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
			<span class="theDay">09</span><br>
			<p class="theTitle">
				<span>Mon @ 4:45 am</span><br>
				A Brief History of The Record Player			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2015/11/lorem-ipsum-dolor-sit-amet-16/">
			<span class="theDay">13</span><br>
			<p class="theTitle">
				<span>Fri @ 4:47 am</span><br>
				To Be Or Not To Be?			</p>
		</a>                    
	</li>
	

	{{> atoms-month-year(month-year:"Mar16", month-year-link:"#2016/03", month:"Mar", year:"2016")}}

	
	<li class="box postEvent cat-item-7 cat-item-11">
		<a href="#2016/03/lorem-ipsum-dolor-sit-amet-15/">
			<span class="theDay">13</span><br>
			<p class="theTitle">
				<span>Sun @ 4:46 am</span><br>
				Photography 101			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2016/03/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-3/">
			<span class="theDay">16</span><br>
			<p class="theTitle">
				<span>Wed @ 4:48 am</span><br>
				Hamlet in the Park			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2016/03/lorem-ipsum-dolor-sit-amet-4/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Fri @ 7:09 pm</span><br>
				The Book of Mormon on Broadway			</p>
		</a>                    
	</li>
	

	{{> atoms-month-year(month-year:"Dec16", month-year-link:"#2016/12", month:"Dec", year:"2016")}}

	
	<li class="box postEvent cat-item-7 cat-item-19 cat-item-9">
		<a href="#2016/12/lorem-ipsum-dolor-sit-amet-18/">
			<span class="theDay">01</span><br>
			<p class="theTitle">
				<span>Thu @ 4:49 am</span><br>
				Movies in the Park: Dead Winter			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-8 cat-item-7">
		<a href="#2016/12/lorem-ipsum-dolor-sit-amet-7/">
			<span class="theDay">01</span><br>
			<p class="theTitle">
				<span>Thu @ 2:30 pm</span><br>
				Muse Making Music in Montreal			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2016/12/lorem-ipsum-dolor-sit-amet-17/">
			<span class="theDay">08</span><br>
			<p class="theTitle">
				<span>Thu @ 4:48 am</span><br>
				War Games			</p>
		</a>                    
	</li>
	

	{{> atoms-month-year(month-year:"Dec17", month-year-link:"#2017/12", month:"Dec", year:"2017")}}

	
	<li class="box postEvent cat-item-7 cat-item-10">
		<a href="#2017/12/lorem-ipsum-dolor-sit-amet-5/">
			<span class="theDay">20</span><br>
			<p class="theTitle">
				<span>Wed @ 7:10 pm</span><br>
				Life of Pi			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-19 cat-item-10">
		<a href="#2017/12/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Mon @ 12:30 pm</span><br>
				Party Like It’s 2017			</p>
		</a>                    
	</li>
	
	
	<li class="box postEvent cat-item-7 cat-item-9">
		<a href="#2017/12/lorem-ipsum-dolor-sit-amet-6/">
			<span class="theDay">25</span><br>
			<p class="theTitle">
				<span>Mon @ 5:00 pm</span><br>
				The Hobbit: An Unexpected Journey			</p>
		</a>                    
	</li>
	
	<li class="box" id="theEnd">The End.</li>

</ul>