<div class="block block-thumb">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			<img src="{{img.square.src}}" />
			{{#body}}
			<div class="date-block">
				<span>{{day.long}}</span>
				<span>{{month.short}}</span>
			</div>
			{{/body}}
		</div>
		<div class="b-text">
			<h2>{{event.title}}</h2>
			{{#body}}
			<div class="short-description">{{event.excerpt}}</div>
			<div class="adr">{{event.location}}</div>
			{{/body}}
			{{#footer}}
			<div class="date-block">
				<span>{{day.long}}</span>
				<span>{{month.short}}</span>
			</div>
			{{/footer}}
		</div>
	</a>
</div>