                    <div class="schedule-title">
                        <span>{{time}}</span>
                        {{#title}}
                        <span>{{title}}</span>
                        {{/title}}
                    </div>
                    <div class="schedule-text">
                        {{#description}}
                        <span>{{description}}</span>
                        {{/description}}
                    </div>
                    <div class="marker-pin">
                    	<div class="top"></div>
                    	<div class="middle"></div>
                    	<div class="bottom"></div>
                    </div>