<section class="section events">
	{{> molecules-block-filter-box }}
	<ul class="events-list">
		<li>{{> molecules-block-event-item(body: true) }}</li>
		<li>{{> molecules-block-event-item(body: true) }}</li>
		<li>{{> molecules-block-event-item(body: true) }}</li>
		<li>{{> molecules-block-event-item(body: true) }}</li>
		<li>{{> molecules-block-event-item(body: true) }}</li>
	</ul>
	<a href="#" class="text-btn">View more events</a>
</section>