<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #E82829;"></span>
		<span class="sg-label">Red</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7CBE30;"></span>
		<span class="sg-label">Green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #149DEB;"></span>
		<span class="sg-label">Blue</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFF70B;"></span>
		<span class="sg-label">Yellow</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E40079;"></span>
		<span class="sg-label">Pink</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>